.carousel-wrap {
  margin: 0px auto;
  padding: 0% 5%;
  /* border: black 2px solid; */
  position: relative;
}
.owl-carousel .item {
  position: relative;
  z-index: 100; 
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}