*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
h1{
  width: 100%;
  text-align: center;
}
.expand ul li{
  padding:10px 10px 10px 10px;
  text-align: center;
}
a{
    text-decoration:none !important;
    color:inherit !important;
}
body{
  /* background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)); */
  
    height: 100vh;
    width: 100vw;
}
.toolbar p{
  margin-top: 4px !important;
}
.fas{
    color:white;
}
.toolbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 2px 10px 2px 10px;
    width: 100%;
    background: #e40046;
    /* background-color: black; */
    /* opacity: 0.8; */
    z-index:500;
    color: white;
    position:fixed;
}
.options{
    position: absolute;
    display: flex;
    margin-left: 1000px;
    margin-right: 0px;
}
.cart{
    display: flex;
    cursor: pointer;
    padding:17px 30px 18px 30px;
    /* border-right: white solid 1px; */
    border-left: white solid 1px;
}
.cart i{
    padding-top: 3px;
    font-size: 180%;
}
.cart p{
    padding-top: 3px;
}
.expand{
  display: block;
}
.expand::after{
  content: '';
 
  width: 0%;
  height: 3px;
  background:white;
  text-align: center;
  display: block !important;
  margin: auto;
  transition: 0.5s;
}
.expand:hover::after{
  width: 100%;
  background:white;
  z-index:100;
}
.heading::after{
  content: '';
  margin-top: 5px;
  width: 0%;
  height: 3px;
  background:#e40046;
  text-align: center;
  display: block !important;
  margin: auto;
  transition: 0.5s;
}
.carousel-wrap:hover> .heading::after{
  margin-top: 5px;
  width: 15%;
  background:#e40046;
  z-index:100;
}
.logout::after{
  content: '';
 
  width: 0%;
  height: 3px;
  background:white;
  text-align: center;
  display: block !important;
  margin: auto;
  transition: 0.5s;
}
.logout:hover::after{
  width: 100%;
  background:white;
  z-index:100;
}
.expand ul{
  list-style: none;
  width: 130px;
  height: 0px;
  position: absolute;
  z-index: 500;
  background-color: black;
  display: none;
  margin-top: 4px;
  transition: 0.5s;
}
.expand ul li ul{
  position: absolute;
  left:200px;
  top:200px;
}
.expand ul li {
  position: relative;
}
.expand:hover>ul{
  display: block;
  height: auto;
}
.signin p{
    padding-top: 6px;
}
.signin{
    display: flex;
    cursor: pointer;
    padding: 14px 0px 12px 30px;
}
.logout{
  border-left: white solid 1px;
}
#logout{
  display: none;
}
.signin i{
    font-size: 250%;
}

/* ------------------banner------------------- */
/* body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000116;
} */

.slider{
  position: relative;
  background: #000116;
  width: 100%;
  min-height: 450px;
  overflow: hidden;
  padding-top:72px;
  /* display: none; */
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}


/* --------------------deals of the day------------------------ */
.card{
  height: 200px;
  width: 250px;
}
.card-img-top{
  object-fit: cover ;
  width:100%;
  height: 100%;
}
/* ---------------------------footer------------------------------ */
.footer{
  background: black;
  color: rgb(187, 187, 187);
  font-size: small;

}
.white{
  color: white;
}
.contact{
  padding-top: 20px;
  padding-left: 50px;
}
.social-media{
  /* display: flex; */
  position: absolute;
  text-align: center;
  /* margin-bottom: 100px; */
  right: 200px;
  color: white;
}
.social-media .fab{
  font-size: 20px;
  padding:20px;
}

